* {
  margin: 0;
}

#app {
  margin-top: 2rem;
}

body {
  background-color: gray;
  height: 100%;
}

.upvote-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0.25rem;
  min-height: 30px;
  min-width: 30px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  transition: 0.5s;
}

.upvote-item:hover {
  border-radius: 35px;
}
